.table-generated {
    word-break: break-all;
    word-wrap: break-word;
}

/* Dropdown menu */
.button-dropdown-menu {
}

.button-dropdown-menu li{
    list-style:none;
}

.button-dropdown-menu li > a{
    color: #fff;
}

.button-dropdown-menu li > a:hover{
    filter:none;
    color: #888;
}

.button-dropdown-menu a:hover,.button-dropdown-menu a:focus{
    filter:none !important;
}

.button-dropdown-menu::after, .button-dropdown-menu::before{
}

/* 履歴画面 */
.h3title {
    padding-top: 10px;
}

thead tr td {
    text-align: center;
    vertical-align: top;
}

.pagiCenter {
    text-align: center;
}

#btn-webhook {
    border-radius: 5px !important;
    padding: 6px 10px !important;
    font-size: 15px !important;
}